In [32]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("https://raw.githubusercontent.com/camminady/LeTourDataSet/f3d4d2cdc786ea19a7298b7ff8da2b72293b1039/summary.csv")

In [33]:
df1

     year  stages    km  avgpace
0    1903       6  2428   25.679
1    1904       6  2428   25.265
2    1905      11  2994   27.107
3    1906      13  4637   24.463
4    1907      14  4488   28.470
5    1908      14  4488   28.740
6    1909      14  4497   28.658
7    1910      15  4734   29.099
8    1911      15  5343   27.322
9    1912      15  5289   27.763
10   1913      15  5287   26.715
11   1914      15  5380   26.835
12   1919      15  5560   24.056
13   1920      15  5503   24.072
14   1921      15  5485   24.724
15   1922      15  5375   24.196
16   1923      15  5386   24.233
17   1924      15  5425   24.250
18   1925      18  5440   24.820
19   1926      17  5745   24.273
20   1927      24  5398   27.224
21   1928      22  5476   28.400
22   1929      22  5286   28.319
23   1930      21  4822   28.000
24   1931      24  5091   28.735
25   1932      21  4479   29.047
26   1933      23  4395   29.818
27   1934      23  4470   30.360
28   1935      21  4338   30.650
29   1936      21  4442   31.108
..    ...     ...   ...      ...
74   1988      22  3286   38.909
75   1989      21  3285   37.487
76   1990      21  3504   38.621
77   1991      22  3914   38.747
78   1992      21  3983   39.504
79   1993      20  3714   38.709
80   1994      21  3978   38.383
81   1995      20  3635   39.193
82   1996      21  3765   39.227
83   1997      21  3950   39.237
84   1998      21  3875   39.983
85   1999      20  3870   40.276
86   2000      21  3662   39.569
87   2001      20  3458   40.070
88   2002      20  3278   39.920
89   2003      20  3427   40.940
90   2004      20  3391   40.553
91   2005      21  3593   41.654
92   2006      20  3657   40.784
93   2007      20  3570   39.228
94   2008      21  3559   40.492
95   2009      21  3460   40.315
96   2010      20  3642   39.594
97   2011      21  3630   39.788
98   2012      20  3497   39.883
99   2013      21  3404   40.542
100  2014      21  3659   40.662
101  2015      21  3354   39.567
102  2016      21  3525   39.571
103  2017      21  3540   40.995

[104 rows x 4 columns]

In [31]:


df2 = pd.read_csv('http://localhost:8888/view/2018_historical_guide.csv', delimiter=',', nrows=1000)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 12, saw 2